---
- name: Install Docker and Deploy DevOps App
  hosts: docker_hosts
  become: true

  vars:
    docker_image_name: "jadon3107/devops-app"
    docker_image_tag: "v1"
    container_name: "devops_app"

  tasks:

    - name: Update all packages
      yum:
        name: "*"
        state: latest

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Install python3-docker (Docker SDK for Ansible)
      yum:
        name: python3-docker
        state: present

    - name: Pull latest Docker image
      docker_image:
        name: "{{ docker_image_name }}"
        tag: "{{ docker_image_tag }}"
        source: pull

    - name: Stop existing container if running
      docker_container:
        name: "{{ container_name }}"
        state: stopped
      ignore_errors: true

    - name: Remove existing container if exists
      docker_container:
        name: "{{ container_name }}"
        state: absent
      ignore_errors: true

    - name: Run Docker container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_image_name }}:{{ docker_image_tag }}"
        state: started
        restart_policy: always
        ports:
          - "80:80"
