name: CI/CD - Docker Build, Push & Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  docker-build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
            ${{ secrets.DOCKER_USERNAME }}/devops-app:v1

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop devops-container || true
            docker rm devops-container || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/devops-app:latest
            docker run -d -p 80:80 --name devops-container ${{ secrets.DOCKER_USERNAME }}/devops-app:latest